@media(max-width: 573px) {
  html {
    overflow-x: hidden;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .sticky {
    background: rgba(255, 255, 255, 0.924);
    backdrop-filter: blur( 2.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
  }
  .logo {
    margin-left: 25px;
    font-size: 1.7rem;
  }
  /* Container marketing */
  .container-marketing {
    background-color: #a830b0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .marketing-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 0px 0px;
  }
  /* Container carousel */
  .carousel {
    width: 100%;
    height: 300px;
    margin: auto !important;
  }
  .carousel-caption {
    width: 350px;
    height: 290px;
    left: 38px;
    bottom: 180px;
  }
  .carousel-caption h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .carousel-caption p {
    width: 80%;
    font-size: 20px;
    line-height: 1;
  }
  .carousel-item {
    margin-left: 0;
  }
  .carousel-control-prev, .carousel-control-next {
    top: 150px;
    width: 50px;
    height: 50px;
  }
  /* container-apresentacao */
  .container-img-descricao {
    display: flex;
    flex-direction: column;
  }
  .container-fotoPerfil {
    margin: 0;
  }
  .box .content {
    font-size: 1rem;
    top: 0px;
  }
  .box {
    width: 100%;
    height: 398px;
    top: 15px;
  }
  /* Container produtos */
  .container-servicos {
    margin: 0;
    width: 100%;
    top: 500px;
  }
  .container-itens {
    flex-direction: column;
    justify-content: space-around;
  }
  .itens-cursos {
    width: 100%;
  }
  /* Container resultados */
  .container {
    height: 100%;
    width: 80%;
    margin-bottom: 150px;
  }
  /* Container resultados Alunos */
  .itens {
    width: 100%;
    margin: 0;
  }
  /* Container desfrute */
  .container-desfrute-marketing {
    flex-direction: column;
    height: 80vh;
    transform: none;
  }
  .img-desfrute {
    width: 100%;
    height: 100%;
  }
  .btn-increvase-desfrute {
    height: 5%;
    width: 90%;
  }
  .svg-descricao {
    display: none;
  }
  .container-desfrute-marketing:hover {
    transform: scale(1);
  }
  .container-desfrute-marketing::before {
    transform: translateZ(4rem);
  }
  .container-desfrute-marketing::before:hover {
    transform: translateZ(0);
  }
  .container-desfrute-marketing::after {
    transform: translateZ(-4rem);
  }
  .container-desfrute-marketing::after:hover {
    transform: translateZ(-1px);
  }
  /* Depoimentos dos alunos */
  .itens-depoimentos {
    width: 90%;
  }
  /* Container inscrever */
  .btn-increvase {
    width: 100%;
  }
  /* Dúvidas frequentes */
  .duvidas-responsivo {
    width: 100%;
  }
  /* Container plataformas */
  .mobile-plat {
    width: 60%;
    height: 30%;
    margin-bottom: 0px;
  }
  .cont-platafoma-itens {
    align-items: center;
    justify-content: center;
  }
  .img-mobile {
    width: 80%;
    height: 60%;
  }
  /* Acorddeon*/
  .h-6 {
    margin: 15px;
    font-size: 1rem;
  }
  /* Contatos/Rodapé */
  .container-principal-contato {
    flex-direction: column;
  }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/

@media (min-width: 574px) and (max-width: 767.98px) {
  .container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .sticky {
    background: rgba(255, 255, 255, 0.924);
    backdrop-filter: blur( 2.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
  }
  .logo {
    margin-left: 25px;
    font-size: 1.7rem;
  }
  /* Container marketing */
  .container-marketing {
    background-color: #a830b0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .marketing-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 0px 0px;
  }
  /* Container carousel */
  .carousel {
    width: 100%;
    height: 300px;
    margin: auto !important;
  }
  .carousel-caption {
    width: 350px;
    height: 290px;
    left: 120px;
    bottom: 180px;
  }
  .carousel-caption h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .carousel-caption p {
    width: 80%;
    font-size: 20px;
    line-height: 1;
  }
  .carousel-item {
    margin-left: 0;
  }
  .carousel-control-prev, .carousel-control-next {
    top: 150px;
    width: 50px;
    height: 50px;
  }
  /* container-apresentacao */
  .container-img-descricao {
    display: flex;
    flex-direction: column;
  }
  .container-fotoPerfil {
    margin: 0;
  }
  .box .content {
    font-size: 1rem;
    top: 0px;
  }
  .box {
    width: 100%;
    height: 410px;
    top: 25px;
  }
  /* Container produtos */
  .container-servicos {
    margin: 0;
    width: 100%;
    top: 500px;
  }
  .container-itens {
    flex-direction: column;
    justify-content: space-around;
  }
  .itens-cursos {
    width: 100%;
  }
  /* Container resultados */
  .container {
    height: 100%;
    width: 80%;
    margin-bottom: 150px;
  }
  /* Container resultados Alunos */
  .itens {
    width: 100%;
    margin: 0;
  }
  /* Container desfrute */
  .container-desfrute-marketing {
    flex-direction: column;
    height: 100%;
    transform: none;
  }
  .img-desfrute {
    width: 100%;
    height: 100%;
  }
  .btn-increvase-desfrute {
    height: 5%;
    width: 90%;
  }
  .svg-descricao {
    display: none;
  }
  .container-desfrute-marketing:hover {
    transform: scale(1);
  }
  .container-desfrute-marketing::before {
    transform: translateZ(4rem);
  }
  .container-desfrute-marketing::before:hover {
    transform: translateZ(0);
  }
  .container-desfrute-marketing::after {
    transform: translateZ(-4rem);
  }
  .container-desfrute-marketing::after:hover {
    transform: translateZ(-1px);
  }
  /* Depoimentos dos alunos */
  .itens-depoimentos {
    width: 90%;
  }
  /* Container inscrever */
  .btn-increvase {
    width: 100%;
  }
  /* Dúvidas frequentes */
  .duvidas-responsivo {
    width: 100%;
  }
  /* Container plataformas */
  .mobile-plat {
    width: 60%;
    height: 30%;
    margin-bottom: 0px;
  }
  .cont-platafoma-itens {
    align-items: center;
    justify-content: center;
  }
  .img-mobile {
    width: 80%;
    height: 60%;
  }
  /* Acorddeon*/
  .h-6 {
    margin: 15px;
    font-size: 1rem;
  }
  /* Contatos/Rodapé */
  .container-principal-contato {
    flex-direction: column;
  }
}

/* Dispositivos large (desktops com 992px ou mais)*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .sticky {
    background: rgba(255, 255, 255, 0.924);
    backdrop-filter: blur( 2.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
  }
  .logo {
    margin-left: 25px;
    font-size: 1.7rem;
  }
  /* Container marketing */
  .container-marketing {
    background-color: #a830b0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .marketing-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 0px 0px;
  }
  /* Container carousel */
  .carousel {
    width: 100%;
    height: 300px;
    margin: auto !important;
  }
  .carousel-caption {
    border: 2px solid white;
    width: 350px;
    height: 290px;
    left: 200px;
    bottom: 180px;
  }
  .carousel-caption h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .carousel-caption p {
    width: 80%;
    font-size: 20px;
    line-height: 1;
  }
  .carousel-item {
    margin-left: 0;
  }
  .carousel-control-prev, .carousel-control-next {
    top: 150px;
    width: 50px;
    height: 50px;
  }
  /* container-apresentacao */
  .container-img-descricao {
    display: flex;
    flex-direction: column;
  }
  .container-fotoPerfil {
    margin: 0;
  }
  .box .content {
    font-size: 1rem;
    top: 0px;
    width: 300px;
  }
  .box {
    width: 100%;
    height: 410px;
    top: 25px;
  }
  /* Container produtos */
  .container-servicos {
    margin: 0;
    width: 100%;
    top: 500px;
  }
  .container-itens {
    flex-direction: column;
    justify-content: space-around;
  }
  .itens-cursos {
    width: 100%;
  }
  /* Container resultados */
  .container {
    height: 100%;
    width: 50%;
    margin-bottom: 120px;
  }
  /* Container resultados Alunos */
  .itens {
    width: 100%;
    margin: 0;
  }
  /* Container desfrute */
  .container-desfrute-marketing {
    flex-direction: column;
    height: 100%;
    transform: none;
  }
  .img-desfrute {
    width: 60%;
    height: 70%;
  }
  .btn-increvase-desfrute {
    height: 5%;
    width: 90%;
  }
  .svg-descricao {
    display: none;
  }
  .container-desfrute-marketing:hover {
    transform: scale(1);
  }
  .container-desfrute-marketing::before {
    transform: translateZ(4rem);
  }
  .container-desfrute-marketing::before:hover {
    transform: translateZ(0);
  }
  .container-desfrute-marketing::after {
    transform: translateZ(-4rem);
  }
  .container-desfrute-marketing::after:hover {
    transform: translateZ(-1px);
  }
  /* Depoimentos dos alunos */
  .itens-depoimentos {
    margin: auto;
    width: 50%;
    height: 40%;
    margin-bottom: 20px;
  }
  /* Container inscrever */
  .btn-increvase {
    width: 100%;
  }
  /* Dúvidas frequentes */
  .duvidas-responsivo {
    width: 100%;
  }
  /* Container plataformas */
  .mobile-plat {
    width: 60%;
    height: 30%;
    margin-bottom: 0px;
  }
  .cont-platafoma-itens {
    align-items: center;
    justify-content: center;
  }
  .img-mobile {
    width: 80%;
    height: 60%;
  }
  /* Acorddeon*/
  .h-6 {
    margin: 15px;
    font-size: 1rem;
  }
  /* Contatos/Rodapé */
  .container-principal-contato {
    flex-direction: column;
  }
}